<!-- @if(tour) {
   <div class="flex flex-column flex-wrap justify-content-center align-items-stretch">
   <div class="flex"><h2>{{tour.name}}</h2></div>
     <div class="flex"><h3>{{tour.price}}</h3></div>
    <div class="flex"><img src="/img/{{tour.img}}" alt="Card" class="w-12  max-w-min"></div>
    <div class="flex">{{tour.description}}</div>
  </div>
} -->

<!-- <p-button
label="Назад"
styleClass ="p-button-link"
routerLink="/tours"
/>

<div class="flex flex-1">
  <p-card *ngIf="tour; else noData"
    header="{{tour.name}}"
    subheader="{{tour.price}}"
    styleClass="p-card-shadow col-10 overflow-hidden">

    <ng-template pTemplate="header">
      <img src="/img/{{tour.img}}" alt="Card" class="w-12">
    </ng-template>
   
   <p>{{tour.description}}</p>
  </p-card>
  
   <div class="nearest-tour">
    <app-nearest-tours [tourNearest]="tour"/>
   </div>
</div>

<ng-template #noData>Нет данных</ng-template> -->

<p-button
label="Назад"
styleClass ="p-button-link"
routerLink="/tours"
/>

<div class="flex flex-1 tour-item-wrap">
  @if(tour) {
  <div>
  <p-card 
    header="{{tour.name}}"
    subheader="{{tour.price}}"
    styleClass="p-card-shadow col-10 overflow-hidden tour-item-card">

    <ng-template pTemplate="header">
      <img src="/img/{{tour.img}}" alt="Card" class="w-12">
    </ng-template>
   
   <p>{{tour.description}}</p>
   </p-card>
  </div>
} @else {
  <div>
    Нет данных
  </div>
}
   <div class="nearest-tour">
    <app-nearest-tours 
    (onTourChange)="onTourChanges($event)"
    [tourNearest]="tour"/>
   </div>
</div>

<ng-template #noData>
  Нет данных
</ng-template>

