:host {
  display: block;
}

.tours-list {
  & .tour-item {
    position: relative;
    &.active {
      border: 1px solid red;
    }
    & .basket{
      cursor: pointer;
      align-items: start;
    
    
    & > .pi{
      display: inline-block;
    }
    }

    & .delete-tour{
      display: flex;
     justify-content: right;
     margin-top: 5px;

    }
  }
}

.weather {
  display: flex;
  justify-content: start;
  align-items: center;
 padding: 1rem;
 background-color: #e1e7f8;
  &-item{
    margin-left: 2rem;
  }
  &-item__1{
    font-size: 1.2rem;
    font-weight: 500;
  }
}