:host {
  display: block;
}

.tours-list {
  & .tour-item {
    position: relative;
    &.active {
      border: 1px solid red;
    }
    & .basket{
      cursor: pointer;
      align-items: start;
    
    
    & > .pi{
      display: inline-block;
    }
    }

    & .delete-tour{
      display: flex;
     justify-content: right;
     margin-top: 5px;

    }
  }
}