<div class="aside m-3">
    <p>Выберите тип тура</p>
    <p-select [options]="tourTypes"
    [(ngModel)]="selectedType"
    (onChange)="changeTourType($event)" 
    optionLabel="label" 
    placeholder="Выберите тип тура" 
    class="w-full md:w-56" />

<div class="my-3">
    <p-datepicker 
    [showIcon]="true"
    [(ngModel)]="date" 
    (onSelect)="changeDate($event)"
    [showButtonBar]="true"
    dateFormat='dd-mm-yy'  />
</div>

</div>

<div class="mt-3">
    <p-checkbox
 inputId="checkboxAside"
 binare="true"
 [(ngModel)]="checked"/>
 (onChange)="showToursInBasket"
    <label for="checkboxAside" class="ml-2">Показать выбранные туры</label>
</div>

